.nav_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 10px 1000px;
    color: black;
    font-weight: 900 ;
  margin-right: 120px;
  /* text-decoration: none; */
  /* background-color: black;   */
  }
.nav-item{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.nav{
    background-color: rgb(34, 80 , 90);
}